swagger: '2.0'

info:
  version: "1.0.0"
  title: TODO list query service API
  description: TODO list query service API is a microserice that serves query side endpoints for the TODO list example application built on top of light-eventuate.
  contact:
    email: stevehu@gmail.com
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: todoq.networknt.com
schemes:
  - http
basePath: /v1

consumes:
  - application/json
produces:
  - application/json

paths:
  /todos:
    get:
      description: Return an array of todos
      operationId: getAll
      responses:
        200:
          description: Successful response
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Todo"
      security:
      - todo_auth:
        - "todo.r"
        - "todo.w"
          
  /todos/{id}:
    get:
      description: Return a todo by Id
      operationId: getById
      parameters:
      - name: "id"
        in: "path"
        description: "ID of todo"
        required: true
        type: "string"
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/Todo"          
      security:
        - todo_auth:
          - todo.r
          - todo.w
securityDefinitions:
  todo_auth:
    type: "oauth2"
    authorizationUrl: "http://localhost:8080/oauth2/code"
    flow: "implicit"
    scopes:
      todo.w: "write todo"
      todo.r: "read todo"
definitions:
  Todo:
    type: "object"
    properties:
      id:
        type: "string"
        description: "a UUID generated"
      title:
        type: "string"
        description: "title of todo"
      complete:
        type: "boolean"
        default: false
      order:
        type: "integer"
        format: "int32"
    xml:
      name: "Todo"
