{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "OAuth2 Key Service",
        "description": "OAuth2 Key Service microservices endpoints.",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "oauth2.networknt.com",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/oauth2/key/{keyId}": {
            "get": {
                "description": "Get a key by Id",
                "operationId": "getKeyById",
                "parameters": [
                    {
                        "name": "keyId",
                        "in": "path",
                        "description": "Key Id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Key"
                        }
                    },
                    "400": {
                        "description": "Invalid keyId supplied"
                    },
                    "404": {
                        "description": "Key not found"
                    }
                },
                "security": [
                    {
                        "key_auth": [
                            "oauth.key.r",
                            "oauth.key.w"
                        ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "key_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8888/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "oauth.key.w": "write key",
                "oauth.key.r": "read key"
            }
        }
    },
    "definitions": {
        "Key": {
            "type": "object",
            "required": [
                "keyId",
                "certificate"
            ],
            "properties": {
                "keyId": {
                    "type": "string",
                    "description": "a unique id"
                },
                "certificate": {
                    "type": "string",
                    "description": "certificate"
                }
            }
        }
    }
}