{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Account Money transfer command service API",
        "description": "Account Money transfer command service API is a microserice that serves command side endpoints for the Account Money transfer example application built on top of light-eventuate.",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "accounttransfer.networknt.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/openaccount": {
            "post": {
                "description": "Return a todo object with Id",
                "operationId": "add",
                "parameters": [
                  {
                    "in": "body",
                    "name": "request",
                    "description": "request to open account",
                    "required": true,
                    "schema": {
                      "$ref": "#/definitions/CreateAccountRequest"
                     }
                   }
                  ],
               "responses": {
                   "200": {
                   "description": "OK",
                   "schema": {
                   "$ref": "#/definitions/CreateAccountResponse"
                }
               }
              },
             "security": [
                    {
                        "account_auth": [
                            "account.w"
                        ]
                    }
                ]
            }
            },
          "/delete/{accountId}": {
            "delete": {
                "description": "Delete an account by Id",
                "operationId": "deleteById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of taccountodo",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid ID supplied"
                    },
                    "404": {
                        "description": "account not found"
                    }
                },
                "security": [
                    {
                        "account_auth": [
                            "account.r", "account.w"
                        ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "account_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "account.w": "write account",
                 "account.r": "read account"
            }
        }
    },
    "definitions": {
       "CreateAccountRequest": {
          "properties": {
          "customerId": {
            "type": "string"
           },
          "description": {
            "type": "string"
          },
          "initialBalance": {
            "type": "number",
            "format": "double"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "CreateAccountResponse": {
         "properties": {
           "accountId": {
             "type": "string"
           } 
         }
       }
    }
}