{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Account Money transfer customer view service API",
        "description": "Account Money transfer view service API is a microserice that serves customer view side endpoints for the Account Money transfer example application built on top of light-eventuate.",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "accounttransfer.networknt.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
     "/customers/{customerId}": {
            "get": {
                "description": "get an customer  by Id",
                "operationId": "getcustomerById",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "ID of accoun",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                 "200": {
                   "description": "OK",
                   "schema": {
                     "$ref": "#/definitions/QuerySideCustomer"
                    }
                  }
                },
                "security": [
                    {
                        "customer_auth": [
                            "customer.r"
                        ]
                    }
                ]
            }
        },
     "/customers/{email}": {
            "get": {
                "description": "get customers  by email",
                "operationId": "getcustomerByemail",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "description": "email",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                 "200": {
                   "description": "OK",
                   "schema": {
                     "$ref": "#/definitions/CustomersQueryResponse"
                    }
                  }
                },
                "security": [
                    {
                        "customer_auth": [
                            "customer.r"
                        ]
                    }
                ]
            }
        }
     },
    "securityDefinitions": {
        "customer_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "customer.w": "write customer",
                 "customer.r": "read customer"
            }
        }
    },
    "definitions": {
    "QuerySideCustomer": {
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "email": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "$ref": "#/definitions/Name"
        },
        "phoneNumber": {
          "type": "string"
        },
        "ssn": {
          "type": "string"
        },
        "toAccounts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ToAccountInfo"
          }
        }
      }
    },
    "Name": {
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        }
      }
    },
    "Address": {
      "properties": {
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "street1": {
          "type": "string"
        },
        "street2": {
          "type": "string"
        },
        "zipCode": {
          "type": "string"
        }
      }
    },
    "ToAccountInfo": {
      "properties": {
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "CustomersQueryResponse": {
      "properties": {
        "customers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuerySideCustomer"
          }
        }
      }
    }
  }
}