{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "API D for microservices demo",
        "description": "API D is called by API B",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "d.networknt.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/data": {
            "get": {
                "description": "Return an array of strings collected from down stream APIs",
                "operationId": "listData",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "ArrayOfStrings",
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "examples": {
                            "application/json": [
                                "Message 1",
                                "Message 2"
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "d_auth": [
                            "api_d.w",
                            "api_d.r"
                        ]
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "d_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "api_d.w": "write access",
                "api_d.r": "read access"
            }
        }
    }
}