{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Account Money transfer transaction command service API",
        "description": "Account Money transfer command service API is a microserice that serves transaction command side endpoints for the Account Money transfer example application built on top of light-eventuate.",
        "contact": {
            "email": "stevehu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "accounttransfer.networknt.com",
    "schemes": [
        "http"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/transfers": {
            "post": {
                "description": "create Money Transfer Using http POST",
                "operationId": "createMoneyTransferUsingPOST",
                "parameters": [
                  {
                    "in": "body",
                    "name": "request",
                    "description": "create Money Transfer Using http POST",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/CreateMoneyTransferRequest"                     }
                   }
                  ],
               "responses": {
                   "200": {
                   "description": "OK",
                   "schema": {
                      "$ref": "#/definitions/CreateMoneyTransferResponse"
                }
               }
              },
             "security": [
                    {
                        "transaction_auth": [
                            "transaction.r", "transaction.w"
                        ]
                    }
                ]
            }
     }
     },
    "securityDefinitions": {
        "transaction_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://localhost:8080/oauth2/code",
            "flow": "implicit",
            "scopes": {
                "transaction.w": "write transaction",
                 "transaction.r": "read transaction"
            }
        }
    },
    "definitions": {
    "CreateMoneyTransferResponse": {
      "properties": {
        "moneyTransferId": {
          "type": "string"
        }
      }
    },
    "CreateMoneyTransferRequest": {
      "properties": {
        "amount": {
          "type": "number",
          "format": "double"
        },
        "fromAccountId": {
          "type": "string"
        },
        "toAccountId": {
          "type": "string"
        }
      }
    }
    }
}