openapi: 3.0.0
info:
  version: 1.0.0
  title: OpenAPI MQ Receiver
  license:
    name: MIT
servers:
  - url: 'http://nqreceiver.lightapi.net'
paths:
  /get:
    get:
      summary: List all key/value pairs received in the put endpoint of the producer
      operationId: get
      tags:
        - get
      security:
        - mq_auth:
            - 'mq.r'
      responses:
        '200':
          description: A list of ValueObject in JSON
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValueObject'
              example:
                - key: key1
                  value: value1
                - key: key2
                  value: value2
  /sub:
    get:
      summary: List all key/value pairs received in the pub endpoint of the producer
      operationId: sub
      tags:
        - sub
      security:
        - mq_auth:
            - 'mq.r'
      responses:
        '200':
          description: A list of ValueObject in JSON
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ValueObject'
              example:
                - key: key1
                  value: value1
                - key: key2
                  value: value2

components:
  securitySchemes:
    mq_auth:
      type: oauth2
      description: This API uses OAuth 2.0 with the client credential grant flow.
      flows:
        clientCredentials:
          tokenUrl: 'https://localhost:6882/token'
          scopes:
            'mq.w': write MQ sender
            'mq.r': read MQ sender
  schemas:
    ValueObject:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
        value:
          type: string
